{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-useless-path-segments": "off",
    "array-callback-return": "off",
    "no-console": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/button-has-type": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "no-plusplus": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "object-shorthand": "off",
    "react/jsx-curly-newline": "off"
  }
}
